.transform-effect {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    transition: 0.3s; 
}

.transform-effect:hover {
    transform: translateY(-300px) translateX(300px) rotate(30deg) scale(1.3) skew(20deg, 0);
}
